In [1]:
import pandas as pd

In [2]:
file_path_1 = 'students_1_anon_id.csv'
file_path_2 = 'students_2_anon_id.csv'

df_1 = pd.read_csv(file_path_1)
df_2 = pd.read_csv(file_path_2)

In [3]:
print(df_1.shape)
print(df_2.shape)

(1627, 5)
(1457, 8)

In [4]:
df_trim_1 = df_1[df_1.Repeat != 1].drop(columns = ['Repeat'])
df_trim_2 = df_2[df_2.Repeat != 1].drop(columns = ['Repeat'])

In [5]:
print(df_trim_1.shape)
print(df_trim_2.shape)

(1585, 4)
(1409, 7)

In [6]:
print(df_trim_1.drop_duplicates(subset = 'ID').shape)
print(df_trim_2.drop_duplicates(subset = 'ID').shape)

(1585, 4)
(1409, 7)

In [7]:
df_trim_1 = df_trim_1.rename(columns={'Year' : 'Cohort', 'Total' : 'Exam Y2'})
df_trim_2 = df_trim_2.rename(columns={'Midterm' : 'Midterm Y1', 'Final' : 'Final Y1', 
                                      'Teacher midterm' : 'Teacher Midterm Y1',
                                      'Teacher final' : 'Teacher Final Y1', 
                                     'Year' : 'Cohort Y1'})

In [8]:
df_merged = pd.merge(df_trim_1, df_trim_2, how = 'outer', on = 'ID')
df_merged.shape

(1674, 10)

In [9]:
df_merged.drop_duplicates(subset = 'ID').shape

(1674, 10)

In [10]:
filter = (df_merged['Section_x'] != df_merged['Section_y'])
sum(filter)

425

In [11]:
df_merged['Section_x'] = df_merged['Section_x'].fillna(df_merged['Section_y'])
df_merged['Section_y'] = df_merged['Section_y'].fillna(df_merged['Section_x'])

In [12]:
filter = (df_merged['Section_x'] != df_merged['Section_y'])
sum(filter)

71

In [13]:
df_merged = df_merged.rename(columns = {'Section_y' : 'Section Y1', 'Section_x' : 'Section Y2'})

df_merged = df_merged[['ID','Cohort', 'Cohort Y1', 'Section Y1', 'Midterm Y1', 'Final Y1', 
                       'Teacher Midterm Y1', 'Teacher Final Y1', 'Section Y2', 'Exam Y2']]

df_merged['Cohort'] = df_merged['Cohort'].fillna(df_merged['Cohort Y1'] + 1)

In [14]:
df_merged

,ID,Cohort,Cohort Y1,Section Y1,Midterm Y1,Final Y1,Teacher Midterm Y1,Teacher Final Y1,Section Y2,Exam Y2
0,8cb62c08e2695c3e196ce7bf4a8152c344ab73318cdae5...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,97.78
1,df8e5c6d0707db0ccbf67c8cc86763fad20aeb4ef6322c...,1.0,NaN,2.0,NaN,NaN,NaN,NaN,2.0,95.56
2,0e2f5ec7f3639a6efd42afd171278231d7878b7c0e0ebd...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,95.56
3,76eb7e409171b6f9a4178e4c9bc11f4fc8f8cfd8e8d0d8...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,94.44
4,c7234fee9a45b76f1190bf680ee556b1d00a6d58e665f9...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,93.33
...,...,...,...,...,...,...,...,...,...,...
1669,130c728572ac4b39b49a78d82ef243282ef4f227eb3df3...,9.0,8.0,1.0,54.7,29.1,2.0,2.0,1.0,NaN
1670,c8155fa62cefe824483e42766e3b9eda5b1eef0d6874eb...,9.0,8.0,1.0,37.9,26.5,2.0,2.0,1.0,NaN
1671,2e3726d7f39132fb993b21fbe8bb8a3f3c44c6365ba521...,9.0,8.0,1.0,47.9,40.3,2.0,2.0,1.0,NaN
1672,ba3d37c529ac94b19fcbd76f5eb1bf6c89279b40768c52...,9.0,8.0,2.0,34.7,42,1.0,1.0,2.0,NaN
1673,c839a17fc07f86d063b57c2a024b411061e9a4da7e63d2...,9.0,8.0,3.0,86.4,81.4,4.0,1.0,3.0,NaN

In [15]:
df_merged = df_merged.drop(columns=['ID', 'Cohort Y1'])

In [16]:
df_merged.to_csv('students_combined.csv', encoding='utf-8', index=False)